.gallery {
  padding-bottom: 92px;
}

.gallery__images {
  margin: 0 auto;
  width: 92.5%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 16px;
}

.gallery__image {
  width: 100%;
}

@media screen and (max-width: 544px) {
  .gallery__images {
    grid-template: repeat(8, 1fr) / 1fr;
  }
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .gallery__images {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }
}
