.header {
  padding-top: 34px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__logo {
  width: 254px;
  height: 68px;
  margin-bottom: 50px;
}

.header__title {
  margin: 0 0 32px;
  width: 56.25%;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
}

.header__subtitle {
  margin: 0 0 64px;
  width: 56.25%;
  height: 72px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}

.header__image {
  width: 77%;
  max-width: 984px;
  max-height: 615px;
  filter: grayscale(100%);
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 20px;
    padding-bottom: 64px;
  }
  .header__logo {
    width: 188px;
    height: 52x;
  }

  .header__title {
    width: 70%;
    font-size: 40px;
    margin-bottom: 16px;
  }

  .header__subtitle {
    width: 90%;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .header__image {
    width: 100%;
  }
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .header__title {
    font-size: 75px;
    line-height: 1;
    margin: 0 0 25px;
  }

  .header__subtitle {
    width: 93.75%;
    margin-bottom: 30px;
  }

  .header__image {
    width: 100%;
  }
}
