.intro {
  padding: 0 11.6% 92px;
  width: 65%;
}

.intro__title {
  margin: 0 0 40px;
  width: 100%;
  font-size: 54px;
  line-height: 1.1;
}

.intro__quote {
  margin: 0 0 10px;
  width: 90%;
  font-size: 24px;
  line-height: 1.4;
}

.intro__quote-author {
  margin: 0 0 32px;
  width: 89%;
  font-size: 24px;
  line-height: 1.4;
  text-align: right;
}

.intro__text {
  margin: 0;
  width: 87%;
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (max-width: 544px) {
  .intro {
    width: 90%;
    padding: 0 5% 64px;
  }

  .intro__title {
    width: 100%;
    font-size: 32px;
  }

  .intro__quote {
    width: 100%;
    line-height: 1.25;
  }

  .intro__quote-author {
    width: 100%;
  }

  .intro__text {
    width: 100%;
  }
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .intro {
    width: 93.75%;
    padding: 0 3% 88px;
  }
  .intro__title {
    width: 98%;
    font-size: 45px;
    line-height: 1.1;
    margin-bottom: 50px;
  }

  .intro__quote {
    width: 100%;
  }

  .intro__quote-author {
    width: 100%;
  }

  .intro__text {
    width: 100%;
  }
}
